current-context: default-context
apiVersion: v1
clusters:
    -cluster:
        api-version: v1
        server: https://192.168.1.45:443/
        insecure-skip-tls-verify: true
    name: k8s
contexts:
    -context:
        cluster: k8s
        namespace: default
        user: user1
    name: default-context
users:
    -name: user1
        user:
            username: "admin"
            password: "P@ssw0rd"
kind: config
preferences: 
    colors: true

